.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(small-phone) {
    height: 12rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
