*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  *::selection {
    background-color: var(--color-primary);
    color: #fff;
  }
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land-small) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
